h2{
    font-size:80px;
}
p{
    font-size:35px;
}
h1{
    font-size:40px;
}
li{
    font-size:30px;
    border-radius:5px; 
}
section{
    padding:20px;
    border-radius:10px;
   
}
.anime-header img{
    width:300px;
    height:300px;
    float:right;
    padding:100px;
}
a{
    font-size:20px;
    padding:20px;
    background-color:rgb(219, 87, 58);
    color:white;
}
body{
    background: linear-gradient(120deg,yellow,orange);
}